* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}