* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar ul li a {
  display: inline;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}